*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.img-cotainer{
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-image: url('imágenes/fondo.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
}

.categoria {
    margin-top: 50px;
}

nav{
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    }


 h2{
     font-size: 30px;
     font-family: 'Bebas Neue', cursive;
     cursor: pointer;
    color:rgb(201, 6, 6);
 }

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    font-family: Libre Baskerville;
    color: black;
    text-decoration: none;
    font-weight: italic;
    cursor: pointer;
    font-size: 20px;
}
/* Brillo y transición para paneles navbar*/
a:hover {
    color: rgb(54, 109, 180);
    transition: 0.5s;
}

/* Botón navbar*/
button{
    border: none;
    background-color: rgb(201, 6, 6);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    cursor: pointer;
}

button:hover{
    transform: scale(1.3);

}

/* texto centralizado en image bg*/
.centro{
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    color: #ffffff; 
    font-family: Think Big;
    font-size: 48px;
}
/* Sección de categorías */
.category-title{
    padding: 0;
    margin: 25px;
    color: rgb(0, 0, 0);
    font-family: Hyperjump; font-style: light oblique; font-size: 28px;
}

hr{
    height: 5px; border-top: 2px solid rgb(55, 43, 66); opacity: 100%;
}

.productos{
    display: flex;
    margin: 15px;
    align-content: center;
}
.productos img:first-child{
    margin-right: 1085px;
}

.category-container {
    margin-top: 80px;
}